:root {
  --def-color: white;
  --hover-color: rgb(236, 236, 236);
  --bg-color: rgb(39, 39, 39);
  --focus--color: rgb(0, 132, 255);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--def-color);
}

nav {
  display: flex;
  gap: 25px;
  margin-bottom: 12px;
  background-color: var(--bg-color);
  padding: 12px;
  border-bottom: 1px solid #555;
}

nav a {
  color: var(--hover-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--def-color);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  width: 80%;
  max-width: 550px;
  background-color: var(--hover-color);
}

.input_t:focus-within {
  outline: solid 3px var(--focus--color);
}

.in_s {
  outline: none;
  border: none;
  background-color: var(--hover-color);
  padding: 4px;
  width: 100%;
  font-size: 18px;
}

svg {
  width: 17px;
  height: 17px;
  cursor: pointer;
  display: none;
}

.list {
  position: absolute;
  top: 100px;
  width: 80%;
  max-width: 550px;
  max-height: 300px;
  border-radius: 8px;
  background-color: rgb(61, 61, 61);
  padding: 5px;
  margin-top: 5px;
  display: none;
  overflow-y: auto;
  z-index: 1000;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.item:hover,
.item:focus {
  background-color: rgb(120, 120, 120);
}

.item img {
  width: 30px;
  height: 20px;
  border-radius: 3px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0 auto;
}

.info img {
  width: 200px;
  border-radius: 8px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.list::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: rgb(61, 61, 61);
  border-radius: 8px;
  margin: 8px;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text {
  text-align: center;
}
