<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>

    <style>
      :root {
        --def-color: white;
        --hover-color: rgb(168, 168, 168);
        --bg-color: rgb(39, 39, 39);
        --focus--color: rgb(0, 132, 255);
      }

      * {
        color: cornflowerblue;
        text-align: center;
        color: var(--def-color);
        font-family: Arial, Helvetica, sans-serif;
      }

      p {
        font-size: 20px;
      }

      body {
        background-color: var(--bg-color);
      }
    </style>
  </head>

  <body>
    <h1>my name is Ibrahim</h1>
    <p>I'm a computer science student in King Saud university.</p>
  </body>
</html>
