<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>search for country</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <nav>
        <a href="/about">About</a>
    </nav>

    <div class="search">

        <div class="input_t">
            <input type="search" class="in_s" onkeypress="find(event)" placeholder="Search for a country..."
                autocomplete="new-password">
            <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                </path>
            </svg>

        </div>

        <div class="list"></div>
    </div>

    <div class="info"></div>

    <script src="country.js"></script>
</body>

</html>